{% extends './base.html.twig' %}
        {% block body %}
            {{ parent() }}
            <style>
                /* Add space between input elements */
                input {
                    margin-right: 10px;
                }
            </style>

            <div>
                <h1>Login</h1>
                <form class="form" method="post" action="{{ path('sign_up') }}">
                    <input type="text" name="signUpName" placeholder="Your name">
                    <input type="email" name="signUpEmail" placeholder="Your email">
                    <input type="password" name="signUpPassword" placeholder="Your password">
                    <button class="btn btn-outline-success successButton" title="Sign Up" type="submit"> Add
                    </button>
                </form>
            </div>
            <div>
                <h1>Sign In</h1>
                <form class="form" method="post" action="{{ path('sign_in') }}">
                    <input type="email" name="signInEmail" placeholder="Your email">
                    <input type="password" name="signInPassword" placeholder="Your password">
                    <button class="btn btn-outline-success successButton" title="Sign Up" type="submit"> Sign in
                    </button>
                </form>
            </div>
        {% endblock %}
