{% extends './base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div>
        {% if email is defined %}
            <h1>Welcome, {{ email }}!</h1>
        {% else %}
            <h1>Welcome!</h1>
        {% endif %}
    </div>
    <div>
        <form class="form" method="get" action="{{ path('logout') }}">
            <button>Logout</button>
        </form>
    </div>
{% endblock %}
