{#{% extends './base.html.twig' %}#}

{#{% block body %}#}

{#<div class="container">#}
{#    <div class="content">#}
{#        <div class="form-container">#}
{#            <h1>Sign In</h1>#}
{#            <form method="post" action="{{ path('booking') }}">#}
{#                <input type="email" name="signInEmail" placeholder="Your email2">#}
{#                <input type="password" name="signInPassword" placeholder="Your password">#}
{#                <button class="btn btn-outline-success successButton" title="Sign In" type="submit"> Sign in </button>#}
{#            </form>#}
{#        </div>#}
{#</div>#}
{#{% endblock %}#}